/*
Theme Name: Hueman Child 2
Theme URI: https://presscustomizr.com/hueman/
Template: hueman
Author: nikeo
Author URI: https://presscustomizr.com
Description: The Hueman theme helps you increase your traffic and engage your visitors. It loads fast and is 100% mobile-friendly according to Google. Best rated theme for blogs and magazines on WordPress.org. Powering 70K+ websites around the world.
Tags: one-column,two-columns,three-columns,right-sidebar,left-sidebar,custom-colors,custom-menu,featured-images,flexible-header,full-width-template,post-formats,sticky-post,theme-options,threaded-comments,translation-ready
Version: 3.4.12.1548973000
Updated: 2019-01-31 15:16:40

*/

/* Global */
.mystyle {}

.entry {
color: black;
}

.page-title h1, .page-title h2, .page-title h3 {
color: black;
}

* {
font-family: "Times New Roman", Times, serif;
}

/* Tablet - 800px, 768px & 720px */
@media only screen and (min-width: 720px) and (max-width: 800px) {
	.mystyle {}
}


/* Mobile - 480px & 320px */
@media only screen and (max-width: 719px) {
	.mystyle {}
}


/* Mobile - 320px */
@media only screen and (max-width: 479px) {
	.mystyle {}
}

/*
 Topbar font size
@media only screen and (min-width: 720px) {
.nav > li {
font-size: 14px;
top: auto;
}
}
*/

/* Font */
.entry { font-size: 14px; line-height: 1.6em; }


/* Publication year */
.paper_author {
font-weight: bold;
text-align: left;
}

.paper_title {

font-style: italic;
text-align: left;
}

.paper_journal	{
text-align: left;
}


#access ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    display: none;
    float: left;
    padding: 0px;
    margin: 0px;
    left: 0;
    position: absolute;
    top: 38px;
    width: 180px;
    z-index: 99999;
}
